.container {
  width: 90%;
  background-color: beige;
  height: 75vh;
  /* position: fixed;  */
  margin: auto;
  margin-top: 5%;
}

.content {
  display: flex;
  justify-content: flex-end;
  background-color: beige;
}

.header {
  display: flex; 
  justify-content: space-between; 
}

.button {
  align-self: center;
  position: relative;
  top: 5%;
  z-index: 4;
  width: 40%;
  text-decoration: none;
  margin: auto; 
  background-color: white; 
  border: none; 
  border-radius: 0 0 3% 3%;
}


.orange {
  position: fixed;
  background-color: #da663a;
  width: 40%;
  height: 60vh;
  border-radius: 0% 0% 0% 50%;
  z-index: 1;
  top: 2.4%;
}

.title {
  position: relative;
  margin-top: 1%;
  z-index: 2;
  font-family: "League Spartan", sans-serif;
  color: #1d262d;
}

.titleCode {
  color: #1d262d;
  font-family: "League Spartan", sans-serif;
  line-height: 1.2;
  margin-left: 3%;
}

.picture {
  position: fixed;
  right: 15%;
  z-index: 3;
}

.gouttes {
  position: relative;
  left: 16%;
  top: 17%;
}

.rectangle {
  position: fixed;
  background-color: #da663a;
  width: 42%;
  height: 3%;
  z-index: 3;
  top: 70%;
}

.rectangleLight {
  position: fixed;
  background-color: #da663a;
  width: 32%;
  height: 2%;
  z-index: 3;
  top: 65%;
}

@media (min-width: 767px) {
  .container {
    max-width: 50%;
    background-color: beige;
    height: 55vh;
    /* margin-top: 5%; */
  }

  .content {
    display: flex;
    justify-content: flex-end;
    background-color: beige;
  }

  .code {
    height: 150vh;
    background-color: beige;
  }

  .orange {
    position: static;
    background-color: #da663a;
    width: 40%;
    height: 85vh;
    border-radius: 0% 0% 0% 50%;
    z-index: 1;
  }

  .title {
    position: relative;
    margin-top: 5%;
    z-index: 2;
    line-height: 2.2;
    font-family: "League Spartan", sans-serif;
    color: #1d262d;
  }

  .titleCode {
    color: #1d262d;
    font-family: "League Spartan", sans-serif;
    line-height: 1.2;
    margin-left: 3%;
  }

  .picture {
    position: fixed;
    top: 30%;
    right: 35%;
    z-index: 3;
  }

  .gouttes {
    position: relative;
    left: 25%;
    top: 23%;
  }

  .rectangle {
    position: static;
    background-color: #da663a;
    width: 42%;
    height: 3%;
    z-index: 3;
    top: 70%;
  }

  .rectangleLight {
    position: static;
    background-color: #da663a;
    width: 32%;
    height: 2%;
    z-index: 3;
    top: 65%;
  }
}
